<!-- declare a slideshow -->

<div class="cycle-slideshow" data-cycle-slides=".header-top__slide">
  <div class="header-top__slide">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
        <div class="header-top__slide-text">
          <h1>Travel Styles</h1>
          <h2>The right tour for the</h2>
          <h2>right traveller</h2>
        </div>
        </div>
      </div>
    </div>
    <img src="assets/images/slider-1.jpg">
  </div>

  <div class="header-top__slide">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
        <div class="header-top__slide-text">
          <h1>Travel Styles</h1>
          <h2>The right tour for the</h2>
          <h2>right traveller</h2>
        </div>
        </div>
      </div>
    </div>
    <img src="assets/images/slider-2.jpg">

  </div>
</div>
