.row {
  @mixin clearfix;

  &--gutters {
    margin-left: -65px;
  }

  &--gutters > div {
    padding-left: 65px;
  }

  &--gutters-large {
    margin-left: -100px;
  }

  &--gutters-large > div {
    padding-left: 100px;
  }

  &--gutters-small {
    margin-left: -45px;
  }

  &--gutters-small > div {
    padding-left: 45px;
  }

  &--gutters-xsmall {
    margin-left: -20px;
  }

  &--gutters-xsmall > div {
    padding-left: 20px;
  }

  &__medium-4 {
    float: left;
    width: 33.33%;
  }

  &__medium-6 {
    float: left;
    width: 50%;
  }

  &__medium-8 {
    float: left;
    width: 66.66%;
  }
}
